# 复制为 config.ini 后按需修改（config.ini 不会被提交）
source activate tesla

export PYTHONPATH=$PYTHONPATH:$PWD
export HF_ENDPOINT=https://hf-mirror.com

export DOUBAO_API_KEY=""
export DOUBAO_BASE_URL="https://ark.cn-beijing.volces.com/api/v3"
export DOUBAO_MODEL_NAME=""

# 启动语义切分服务
# nohup python src/server/semantic_chunk.py > log/semantic_chunk.log 2>&1 &

# 启动 mongodb
# mongodb-7.0.20/bin/mongod --port=27017 --dbpath=$PWD/data/mongodb/data --logpath=$PWD/data/mongodb/log/mongodb.log --bind_ip=0.0.0.0 --fork
