fastapi==0.135.1
uvicorn==0.42.0
pydantic==2.10.6
pydantic-settings==2.9.1
openai==1.109.1
tiktoken==0.9.0
langchain==0.3.25
langchain-community==0.3.24
langchain-openai==0.3.19
pymilvus==2.5.9
milvus-lite==2.5.1
rank-bm25==0.2.2
faiss-cpu==1.11.0
FlagEmbedding==1.3.5
sentence-transformers==4.1.0
PyMuPDF==1.25.5
jieba==0.42.1
python-dotenv==1.1.0
rouge-chinese==1.0.3
pymongo==4.13.0
SQLAlchemy==2.0.48
dataclasses-json==0.6.7
pymilvus.model==0.3.2
langchain-core==0.3.63
langchain-text-splitters==0.3.8
transformers==4.51.1d
huggingface-hub==0.32.3
tokenizers==0.21.1
safetensors==0.5.3
numpy==1.26.4
pandas==2.2.3
scipy==1.15.3
scikit-learn==1.6.1
pydantic_core==2.27.2
httpx==0.28.1
httpcore==1.0.9
anyio==4.9.0
requests==2.32.3
joblib==1.5.0
threadpoolctl==3.6.0
pypinyin==0.55.0
